@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic);
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #000; }

header {
  background: rgba(33, 44, 44, 0.8);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.75); }
  header h1 {
    padding: 10px;
    margin: 0;
    font-size: 1.1rem;
    text-transform: lowercase;
    letter-spacing: 0.3rem;
    font-weight: 100; }
  header .logo {
    height: 40px;
    padding-left: 10px;
    padding-top: 10px; }

main {
  display: flex; }

.info {
  display: flex;
  flex-direction: column;
  flex-basis: 15rem;
  padding: 70px 10px;
  background-color: #333;
  color: white; }
  .info h3 {
    border-bottom: 1px solid #293838;
    color: #B9F9F9;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.05rem;
    padding: 0;
    margin: 0; }
  .info p {
    flex-basis: 3rem;
    padding: 0;
    margin: 0; }
  .info .date {
    flex-basis: auto; }
  .info .time {
    font-size: 0.8rem;
    color: #ccc; }

.map {
  height: 595px;
  flex-grow: 1;
  background-image: url(../images/global-map.png);
  background-repeat: no-repeat;
  background-size: cover; }

circle {
  transition: fill 0.2s ease; }
  circle:hover {
    fill: tomato; }

.notifications {
  font-size: 0.7rem;
  color: #888; }

.photos img {
  width: 65px;
  height: 65px;
  padding: 3px;
  border-radius: 50%; }

.photos ul {
  list-style-type: none;
  padding: 0; }

.photos li {
  display: inline-block; }
