body {
  margin: 0;
}

header {
  background: #444;
  color: white;
  margin: 0;
}

header h1 {
  display: inline;
}

main {
  width: 800px;
  margin: 0 auto;
}

.map {
  width: 800px;
  height: 400px;
  background: aqua;
}
