@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic);

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background: #222;
  color: white;
  // margin: 0;
  height: 40px;
  width: 250px;
  padding: 10px 0 0 0 10px;
  position: fixed;
  left: 0;
  top: 0;

  h1 {
    padding: 10px;
    margin: 0;
    font-size: 1.1rem;
    text-transform: lowercase;
    letter-spacing: 0.3rem;
    font-weight: 100;
  }
}

h3 {
  padding: 0;
  padding-top: 10px;
  margin: 0;
}
p {
  padding: 0;
  padding-top: 5px;
  margin: 0;
}



main {
  width: 100%;
  position: fixed;
  top: 0;
  left: 250px;


}

.info {
  background-color: #333;
  color: white;
  left: 0px;
  top: 40px;
  position: fixed;
  width: 240px;
  padding-left: 10px;
  height: 555px;

  h3 {
    border-bottom: 1px solid #293838;
    color: #B9F9F9;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.05rem;
  }
  p {
    height: 50px;
  }
}

.map {
  width: 1190px;
  height: 595px;
  background-image: url(../images/global-map.png);
  background-repeat: no-repeat;
  background-size: cover;
}

circle {
  transition: fill 0.2s ease;
}
circle:hover {
  fill: tomato;
}

.notifications {
  font-size: 0.7rem;
  color: #888;
  bottom: 5px;
  position: absolute;
}
