@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,300italic);

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #000;
}

header {
  background: hsla(0, 0%, 20%, 0.8);
  color: white;
  // margin: 0;
  height: 40px;
  width: 100%;
  // padding: 0 10px;
  position: fixed;
  // left: 0;
  top: 0;

  h1 {
    padding: 10px;
    margin: 0;
    font-size: 1.1rem;
    text-transform: lowercase;
    letter-spacing: 0.3rem;
    font-weight: 100;
  }
}

main {
  width: 100%;
  position: fixed;
  top: 0;
  left: 250px;
}

.info {
  background-color: #333;
  color: white;
  left: 0;
  top: 0;
  position: fixed;
  width: 240px;
  padding-left: 10px;
  padding-top: 40px;
  height: 555px;
  box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.75);

  h3 {
    border-bottom: 1px solid #293838;
    color: #B9F9F9;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.05rem;
  }
  h3 {
    padding: 0;
    margin: 0;
    padding-top: 30px;
  }
  p {
    height: 45px;
    padding: 0;
    padding-top: 5px;
    margin: 0;
  }
  .date {
    height: 17px;
  }
  .time {
    font-size: 0.8rem;
    color: #ccc;
  }
}

.map {
  width: 1190px;
  height: 595px;
  background-image: url(../images/global-map.png);
  background-repeat: no-repeat;
  background-size: cover;
}

circle {
  transition: fill 0.2s ease;
}
circle:hover {
  fill: tomato;
}

.notifications {
  font-size: 0.7rem;
  color: #888;
  bottom: 5px;
  position: absolute;
}

.photos {
  // border: 1px dashed tomato;
  img {
    // background-color: #222;
    width: 50px;
    height: 50px;
    padding: 3px;
    border-radius: 50%;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
  }
}
